/* div {
    border: 1px solid red;
} */

#welcomeGif {
    height: 64px;
}

header {
    background-color: crimson;
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 40px;   
    margin-bottom: 10px;
    text-shadow: 3px 3px black;
}

#container {
    padding: 10px;
    width:75%;
    margin: auto;
    background-color: bisque;
    box-shadow: 10px 10px rgb(96, 96, 96);
    margin-bottom: 20px; 
    border-radius: 10px;
}

.input {
    text-align: center;
}

button {
    box-shadow: 2px 2px rgb(96, 96, 96);
    border: 1px solid crimson;
}

button, #submit {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    cursor: pointer;
    
}

#submit:hover {
    background-color: greenyellow;
    color: black;
}

button:hover {
    background-color: crimson;
    color: white;
}